.lightgreen {
  border-color: lightgreen;
  background-color: lightgreen;
}

.lightgreen:hover{
  border-color: #82d882;
  background-color: #82d882;
}

.lightblue {
  border-color: lightblue;
  background-color: lightblue;
}

.lightblue:hover {
  border-color: #9dc7d4;
  background-color: #9dc7d4;
}