<div id="titulo">Ejercicios de PrimeNg</div>
<div id="ejercicios">
    <button pButton type="button" label="Ejercicio 1" routerLink="/ejercicio01"></button>
    <button pButton type="button" label="Ejercicio 2" routerLink="/ejercicio02"></button>
    <button pButton type="button" label="Ejercicio 3" routerLink="/ejercicio03"></button>
    <button pButton type="button" label="Ejercicio 1 con GRID" routerLink="/ejercicio01g" class="lightgreen"></button>
    <button pButton type="button" label="Ejercicio 2 con GRID" routerLink="/ejercicio02g" class="lightgreen"></button>
    <button pButton type="button" label="Ejercicio 3 con GRID" routerLink="/ejercicio03g" class="lightgreen"></button>
    <button pButton type="button" label="Ejercicio 4" routerLink="/ejercicio04" class="lightblue"></button>
    <router-outlet></router-outlet>
</div>