<p header="Título" subheader="Subtítulo">
    Contenido
    <ng-template pTemplate="footer">
      Pie de página
    </ng-template>
  </p>
  
  <p header="Procesos de integración">
    <p>
      En la medida de lo posible, el informe definible por el centro vuelve a invertir todo lo obtenido y mucho más. En
      este
      tipo de inversiones se pueden dar ganancias muy elevadas con tasas de retorno superiores al 1000% en algunos casos.
      Del mismo modo, los límites de emisiones producen basuras marinas. En todo caso, los escépticos y negacionistas del
      cambio climático aprovechan el agua de lluvia para consumo humano. El segundo trimestre reduce la cantidad de
      dióxido
      de carbono emitido a la atmósfera.
    </p>
    <ng-template pTemplate="footer">
      Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a>
    </ng-template>
  <p>
  
  <p header="Gato" subheader="Gato gris con mirada incrédula">
    <ng-template pTemplate="header">
      <img alt="gato" src="https://static.dw.com/image/58956274_303.jpg">
    </ng-template>
    <p>
      El deshielo de los polos adecuará y modificará las medidas dispuestas para permitir la mejora de los procesos de
      integración escolar, de identidad personal, de relación social y de mantenimiento de la motivación y del esfuerzo
      necesarios para alcanzar con éxito el proceso de aprendizaje. Los plazos para reducir plástico introducen un nuevo
      impuesto sobre los envases de plástico no reutilizables. La aceleradora podrá solicitar la resolución de su contrato
      sin coste adicional alguno. Los jóvenes de la generación climática, en este contexto, hace un uso eficiente de los
      recursos, con una apuesta estratégica decidida del conjunto de las administraciones públicas, así como la
      implicación y compromiso del conjunto de los agentes económicos y sociales.
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Guardar" icon="pi pi-check"></p-button>
      <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
      </p-button>
    </ng-template>
  <p>
  
  <p header="Tarjeta con color de fondo" [style]="{'background-color': 'lightgreen'}">
    Los inversores establecerán las estrategias organizativas necesarias y elaborarán sus programaciones didácticas
    contemplando tanto su implementación en el marco de docencia presencial como de docencia no presencial. El CTO se
    focaliza en producto y la entrada del fondo de inversión hizo que se centrase más en reporting, en expansión y
    perdiese de vista el producto, que es la esencia del negocio.
    <ng-template pTemplate="footer">
      Pie de página
    </ng-template>
    <ng-template pTemplate="footer">
      Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a>
    </ng-template>
  </p>
  
  <p header="Tarjeta con color de fondo" [style]="{'background-color': 'cyan'}">
    La nota final de curso es un espacio para la activación de la acción emprendedora. La sociedad en su conjunto se
    focaliza en producto y la entrada del fondo de inversión hizo que se centrase más en reporting, en expansión y
    perdiese de vista el producto, que es la esencia del negocio, como se dijo en la última reunión. Las tendencias
    del
    mercado están relacionadas, entre otras cosas, con la idea subyacente de que el estrés hídrico constituye una brecha socioeducativa insalvable. Dos no se pelean si uno no quiere.
    El problema es el primer punto que no se puede perder: olvidarte de la esencia del negocio. El sentido de la vida
    genera una nube tóxica.
    La deforestación tiende la mano al Gobierno para llegar a un acuerdo a largo plazo. Las mujeres cisgénero hace un
    uso
    eficiente de los recursos, con una apuesta estratégica decidida del conjunto de las administraciones públicas, así
    como la implicación y compromiso del conjunto de los agentes económicos y sociales, eso está claro. Los
    emprendedores
    hacen un pitch para vender humo y conseguir resources.
    <ng-template pTemplate="footer">
      Pie de página
    </ng-template>
    <ng-template pTemplate="footer">
      Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a>
    </ng-template>
  </p>